<div class="nav justify-content-center">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <button
        id="nav-toggle-button"
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" routerLink="/"
            >{{"Inicio" | translate}}</a
          >
          <a class="nav-link" routerLink="/new">{{"Nueva nota" | translate}}</a>
          <a class="nav-link" routerLink="/about">{{"Acerca de" | translate}}</a>
          <li class="nav-item dropdown" *ngIf="this.loginS.user">
            <a class="nav-link dropdown-toggle" href="#" role="button" 
            data-bs-toggle="dropdown" aria-expanded="false">{{"Cerrar sesion" | translate}}
            </a>
            <ul id="dropMenu" class="dropdown-menu">
              <li>
                <span style="padding: 10px">{{ this.loginS.user!.name }}</span>
              </li>
              <li>
                <span style="padding: 10px">{{ this.loginS.user!.email }}</span>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a
                  id="logoutHover"
                  class="dropdown-item"
                  href="#"
                  (click)="logout()"
                >{{"Cerrar sesion" | translate}}
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >{{"Tema" | translate}}</a>
            <ul class="dropdown-menu">
              <li>
                <span
                  id="spanTheme"
                  class="dropdown-item"
                  (click)="onSetTheme('light-theme')"
                >{{"Claro" | translate}}</span>
              </li>
              <li>
                <span id="spanTheme" class="dropdown-item" (click)="onSetTheme('dark-theme')" >{{"Oscuro" | translate}}</span>
              </li>
            </ul>
          </li>
        </div>
      </div>
    </div>
  </nav>
</div>
