<div class="container">
    <div class="designBy">

    </div>
    <div class="myLogo">
        <p>Desarrollado por: José Mª Cámara Pasadas</p>
        <img src="../../../assets/img/logotipo.jpg" class="img-fluid" class="float-center" alt="by_DeCámara_SoftWorks">
    </div>
    <div class="myGit">
        <a href="https://github.com/JoseCP82/AngularNotes" target="_blank">Todo el código del proyecto aquí!!!</a>
    </div>
</div>



<!--
<p>{{mensaje}}</p>
<img [src]="src" alt="Cargando la imagen del momento...">
 src = 'https://source.unsplash.com/random'
-->
