<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/img/perfil_jose.jpg" class="card-img-top" alt="Perfil">
        <div class="card-body">
          <h5 class="card-title">{{"SobreMi" | translate}}</h5>
          <p class="card-text">{{"SobreMiTexto" | translate}}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a href="https://github.com/JoseCP82/AngularNotes" target="_blank">
            <img id="logo" src="../../../assets/img/logo.jpg" class="card-img-top" alt="by_DeCámara_SoftWorks">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{"MisProyectos" | translate}}</h5>
          <p class="card-text">{{"MisProyectosTexto" | translate}}</p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../../../assets/icons/icon-192x192.png" class="card-img-top" alt="Angular">
          <div class="card-body">
            <h5 class="card-title">{{"Angular" | translate}}</h5>
            <p class="card-text">{{"AngularTexto" | translate}}</p>
          </div>
        </div>
      </div>
  </div>
</div>

<!--
<p>{{mensaje}}</p>
<img [src]="src" alt="Cargando la imagen del momento...">
 src = 'https://source.unsplash.com/random'
-->
